.glass-contact-card {
    z-index: 10;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 0.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
}
